.sidebar-main {
  height: 100%;
  width: 100%;
  background: #ffff;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.25);
}

.menu-item-sidebar {
  color:  #121212;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 122%;
  padding: 0.625rem 0.938rem;
  display: flex;
  margin-bottom: 1.25rem;
  align-items: center;
}
.menu-item-sidebar > :first-child{
  align-self: flex-start;
  width: 15%;
}
.menu-item-sidebar > :last-child{
  width: 85%;
  margin-top: 0.125rem;
}


.menu-item-header {
  color: #000000;
  cursor: pointer;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  margin: 0.125rem 0;
}

.sidebarLogo {
  width: 2.831rem;
  height: 2.625rem;
}
