.sidebar-main {
  position: fixed !important;
  height: 100%;
  width: 24%;
  background: #ffff;
  /* width: 350px; */
  transition: 0.1s ease-in-out;
  margin-top: -4em;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.25);
}
.sidebar-main-collapse {
  height: 100%;
  background: #ffff;
  width: 102px;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.1s ease-in-out;
  position: fixed !important;
  margin-top: -4em;
}
.menu-item-sidebar {
  color:  #121212;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  padding: 10px 15px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.menu-item-sidebar > :first-child{
  align-self: flex-start;
  width: 15%;
}
.menu-item-sidebar > :last-child{
  width: 85%;
  margin-top: 2px;
}


.menu-item-header {
  color: #000000;
  cursor: pointer;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 2px 0;
}

.sidebarLogo {
  width: 45.29px;
  height: 42px;
}
