

.card-container{
  display: flex;
  align-self: flex-start;
  justify-content: space-around;
  margin-bottom: 1.25rem;
  padding: 5px;
}
.dashboardCards{
  width: 11.5625rem;
  height: 9.375rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.dashboardCards > div{
  border-radius: 50%;
  width: 2.375rem;
  height: 2.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardCards > div > svg{
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
.dashboardCards > h4{
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 147%;
  margin-top: 0.5rem;
  color: #000000;
}
.dashboardCards > p{
  color: #939393;
}

.revenue-container{
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revenue-container > div{
  width: max-content;
  height: max-content;
  padding: 3px;
}
.revenue-container > div > select{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4.313rem;
  width: 8.125rem;
  height: 2.188rem;
  cursor: pointer;
  border: 0;
  outline: none;
  margin-right: 1.4rem;
  padding: .4rem 0.8rem;
  border-right: 10px solid transparent;
  position: relative;
}

.revenue-container > select > option{
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 122%;
}


.bar-graph-container{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 473px;
  margin: 10px 1.3rem 20px 10px;
  overflow: hidden;
  padding: 10px;
}