*{
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.div-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-apart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-div {
  padding: 1rem;
  width: 100%;
  margin-top: 70px;
}

.parent{
  width: 100vw;
}
.parent > :first-child{
  width: 24%;
  height: 100vh;
  position: fixed;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.parent > :last-child {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin-left: 23.7%;
}

.heading{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 122%;
  margin: 1.24rem;
  text-transform: capitalize;
}

.NavLink, a {
  text-decoration: none !important;
  color: #121212 !important;
  opacity: 0.9 !important;
}

/* Specific styles for active links */
.NavLink-active a {
  text-decoration: none !important;
}
.NavLink-active {
  text-decoration: none !important;
  color:  white;
  background-color: #088F8F;
  font-weight: 600;
}
.NavLink-active > :first-child {
  color: #ffffff;
  font-weight: 600;
  background-color: #088F8F;
  padding: 0.625rem 0.938rem;
  border-radius: 0.625rem;
}


/* ::-webkit-scrollbar {
  width: 8px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #088F8F;
  border-radius: 1px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #088F8F;
} */